/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}




.navbar-header {
  padding-left:25px;
  padding-top: 25px;
  font-weight:bold;
  float:left;
  display:table;
}

.navbar-header a {
  padding:0;
  height:0;
  font-size:200%;
}

.navbar-brand img {
  height: 30px;
  display: inline;
}

.home-carousel {
  box-shadow: #1e1e1f;
  /* background: #DFF3DF; */
  background: #e0e0e0;
  /* background-size: cover; */
  /* background-image: url("/img/background4.svg.png"); */ 
}

.home-carousel h1, h2, h3 {
  color: #1e1e1f;
}
.home-carousel ul, li {
  color: #5c5c5c;
}

.home-carousel .dark-mask {
  /* background: #DFF3DF; */
  background: #e0e0e0;
  background: -webkit-radial-gradient(#fff, rgba(165, 165, 165, 0.09), #e0e0e0); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#fff, rgba(165, 165, 165, 0.09), #e0e0e0); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#fff, rgba(165, 165, 165, 0.09), #e0e0e0); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#fff, rgba(165, 165, 165, 0.09), #e0e0e0)
  /* background-size: cover; */
  /* background-image: url("/img/background4.svg.png"); */
}

.affix-top * {
  /* color: white !important; */
}

.affix-top img {
  /* display: none; */
}

.affix-top .navbar-default--homepage {
  background: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}
